<% provide(:title, "Log In") %>
<% body_class "fullsize" %>

<section class="login">
  <h1 id="logo">Rock'in<br/>the Lake...</h1>

  <p class="signup">New at RITL ? <%= link_to "Rock’up !", '/signup', :class => "blue" %></p>

  <%= form_for(:session, url: login_path) do |f| %>

      <div class="inputed">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "email" %>
      </div>
      <div class="inputed">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "password" %>
      </div>

      <%= f.label :remember_me, class: "checkboxWrapper" do %>
          <p> <%= f.check_box :remember_me, :class => "noDisplay" %>

          <div class=" checkbox"><i class="fa fa-check"></i></div>
          <div class="checkboxLabel">Remember me</div>
          </p>
      <% end %>

      <%= f.submit "Rock’in" %>
  <% end %>
</section>

<script type="text/javascript">
    $(document).ready(function () {




        $('#session_remember_me').change(function(){

            if ( $('#session_remember_me').prop("checked") ) {
                $('.checkboxWrapper').addClass('checked')
            } else {
                $('.checkboxWrapper').removeClass('checked')
            }
        });


    });
</script>