<li id="ritl-<%= tweet.id %>" class="ritl">

  <%= link_to(tweet.user) do %>
      <%= image_tag(tweet.user.avatar_url, alt: tweet.user.username, class: "gravatar") %>
  <% end %>

  <div>
    <p class="user">Throwed by <%= link_to format_username(tweet.user.username), tweet.user %> : </p>
    <% if tweet.picture? %>
        <p class="content"><%= image_tag tweet.picture.url %></p>
    <% end %>
    <p class="content">"<%= build_links_in_tweet(tweet.content).html_safe %>"</p>

    <p class="timestamp">Posted <%= time_ago_in_words(tweet.created_at) %> ago. </p>

    <% if current_user.admin? || current_user?(tweet.user) %>
        <%= link_to raw('<i class="fa fa-times"></i>'), tweet, method: :delete,
                    data: {confirm: "Do you really want to delete this RITL?"}, class:'delete' %>
    <% end %>
  </div>

</li>