<% @user ||= current_user %>


<a class="waves" href="<%= following_user_path(@user)%>">
  <i class="icon wave"></i>
  <p><%= pluralize( @user.following.count, "Waves") %></p>
</a>

<%= render 'partials/user_info' %>

<a class="waves" href="<%= followers_user_path(@user)%> ">
  <i class="icon wavers"></i>
  <p><%= pluralize( @user.followers.count, "Wavers") %></p>
</a>