<header>
  <a href="/"> <h2 id="logo">Rock'in<br/>the Lake...</h2></a><!-- comment to avoid inline block bug
  --><nav>
    <ul>
      <li><%= link_to "Feed", '/' %></li>
      <li><%= link_to "All Users", '/users' %></li>
      <li><%= link_to "profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Rock’out !", logout_path, :class => "blue" %></li>

    </ul>
  </nav>
</header>