<div class="newRitl">

  <div class="rounder-border">
    <%= image_tag(current_user.avatar_url, alt: current_user.username, class: "gravatar") %>
  </div>

<%= form_for(@tweet, html: { multipart: true }) do |f| %>
    <%= render 'partials/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Throw a new RITL..." %>
      <div class="picture"><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></div>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>

<% end %>

</div>

<script type="text/javascript">
    $('#tweet_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>