<% @user ||= current_user %>


<figure>
  <div class="rounder-border">
    <%= image_tag(@user.avatar_url, alt: @user.username, class: "gravatar") %>
  </div>
  <figcaption>
    <h1><%= format_username(@user.username) %></h1>

    <p><%= pluralize(@user.tweets.count, "RITL") %></p>

    <p>
      <% if current_user?(@user) %>
          <%= get_user_location_for_current_user(@user) %>
      <% else %>
          <%= get_user_location_for_users(@user) %>
      <% end %>


      <%= render 'users/follow_form' %>
    </p>
  </figcaption>
</figure>
