<li>
  <div class="userBg" style="background-image: url('<%=check_background(user).to_s%>')"></div>
  <%= link_to(user) do %>
      <figure>
        <div class="border"><%= image_tag(user.avatar_url, alt: user.name, class: "gravatar") %></div>
        <figcaption>
          <p class="username"><%= format_username(user.username) %></p>

          <p class="ritlscounter"><%= pluralize(user.tweets.count, "RITL") %></p>

          <p class="description">
            <span>
            <% if current_user?(user) %>
                <%= get_user_description_for_current_user(user)[0, 110] %>
            <% else %>
                <%= get_user_description_for_users(user)[0, 100] %>
            <% end %>
              ...
            </span>
          </p>


        </figcaption>
      </figure>
  <% end %>
  <div class="followstat">
    <a class="waves" href="<%= following_user_path(user) %>">
      <i class="icon wave black"></i>
      <p><%= pluralize(user.following.count, "Waves") %></p>
    </a>

    <a class="waves" href="<%= followers_user_path(user) %> ">
      <i class="icon wavers black"></i>
      <p><%= pluralize(user.followers.count, "Wavers") %></p>
    </a>
  </div>
  <% if current_user.admin? && !current_user?(user) %>
      <%= link_to raw('<i class="fa fa-times"></i>'), user, method: :delete,
                  data: {confirm: "Do you really want to delete this RITLer?"}, class: 'delete' %>
  <% end %>
</li>