<% provide(:title, @user.name+" Edit") %>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= render 'partials/logged_header' %>
<div class="full" style="background-image: url('<%=check_background(@user).to_s%>')">
<section class="register update">

  <h1>Edit your profile</h1>

  <%= form_for(@user) do |f| %>
      <%= render 'partials/error_messages', object: f.object %>

      <div class="inputed">
        <%= f.label :name, "Full name" %>
        <%= f.text_field :name, placeholder: "Nolan Doe" %>
      </div>

      <div class="inputed">
        <%= f.label :email, "Mail adress" %>
        <%= f.text_field :email, placeholder: "nolan.doe@mail.com" %>
      </div>

      <div class="inputed">
        <%= f.label :password, "Create password" %>
        <%= f.password_field :password, placeholder: "6 characters minimun" %>
      </div>

      <div class="inputed">
        <%= f.label :password_confirmation, "Confirm you password" %>
        <%= f.password_field :password_confirmation, placeholder: "password" %>
      </div>

      <div class="inputed">
        <%= f.label :username, 'Choose your username' %>
        <%= f.text_field :username , placeholder: "special characters will be removed"%>
      </div>

      <div class="inputed">
        <%= f.label :location, "Where are you from?" %>
        <%= f.text_field :location, placeholder: "Sao Polo, Brazil" %>
      </div>

      <div class="inputed">
        <%= f.label :description, "Describe yourself" %>
        <%= f.text_area :description, placeholder: "1000 character max" %>
      </div>

      <div class="inputed">
        <%= f.label :background, "Change background image" %>
        <%= f.text_area :background, placeholder: "Must be a valid url directly linked to an image, and you image must have a good resolution to look good on your profile" %>
      </div>


      <%= f.submit "Update!" %>
  <% end %>
</section>
</div>





