<% provide(:title, "My feed") %>

<section class="topSection" style="background-image: url('<%=check_background(current_user).to_s%>')"><!-- closed in each yeald -->
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= render 'partials/logged_header' %>
  <div>

    <div class="blur" style="background-image: url('<%=check_background(current_user).to_s%>')"></div>
    <div class="stats">
      <%= render 'partials/tweet_form' %>
    </div>

  </div>

</section>

<section class="allRitls">

  <%= render 'partials/feed' %>

</section>