<% provide(:title, 'All users') %>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= render 'partials/logged_header' %>
<section class="users">
<h1>All RITLers</h1>

<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
</section>
