<% provide(:title, @user.username) %>

<section class="topSection" style="background-image: url('<%=check_background(@user).to_s%>')"><!-- closed in each yeald -->
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= render 'partials/logged_header' %>
  <div>

    <div class="blur" style="background-image: url('<%=check_background(@user).to_s%>')"></div>
    <div class="stats">
      <%= render 'partials/following_stats' %>
    </div>

  </div>

</section>
<section class="description">
  <p>
    <% if current_user?(@user) %>
        <%= get_user_description_for_current_user(@user) %>
    <% else %>
        <%= get_user_description_for_users(@user) %>
    <% end %>
  </p>
</section>

<section class="allRitls">

  <% if @user.tweets.any? %>
      <ul class="tweets">
        <%= render @tweets %>
      </ul>
      <%= will_paginate @tweets %>
  <% else %>
      <p class="noRitls"><%= format_username(@user.username) %> didn't throw any ritl for know :(</p>
  <% end %>

</section>