<% provide(:title, @user.username+' '+@title) %>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= render 'partials/logged_header' %>
<section class="users">
  <h1><%= format_username(@user.username)+' '+@title %></h1>

  <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</section>
