body.fullsize{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  background-image: image-url("interface/main-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
