.description{
  background-color: #fff;
  p{
    width: 960px;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    padding: 70px 50px;
    box-sizing: border-box;
    color: $black;
  }
}