.inputed{
  position: relative;
  label{
    position: absolute;
    background-color: $background_color;
    left: 50px;
    top: -18px;
    width: 136px;
    text-align: center;
    font-size: 22px;
  }
  input, textarea{
    box-sizing: border-box;
    width: 100%;
    border: 2px solid $black;
    font-size: 18px;
    font-style: italic;
    color: rgba($black,0.73);
    background-color: $background_color;
    padding: 10px 50px;
    margin-bottom: 50px;

  }
  textarea{
    resize: none;
    height: 150px;
  }

  .field_with_errors{
    input{
      border-color: #a90329;
    }
  }
}

.checkboxWrapper{
  display: block;
  cursor: pointer;

  >p{
    display: none;
  }

    >div{
      display: inline-block;
      vertical-align: middle;
      @include transition(all 0.3s ease-out);
    }

  .checkbox{
    width: 30px;
    height: 30px;
    border: 1px solid $black;
    position: relative;
    margin-right: 20px;

    i{
      color: #ff0000;
      font-size: 40px;
      position: absolute;
      top: -17px;
      left: 10px;
      opacity: 0;
      @include transform(rotate(45deg));
      @include transition(all 0.3s ease-out);
    }
  }



}

.checkboxWrapper.checked{

  .checkbox{
    i{
      top: -9px;
      left: 0px;
      @include transform(rotate(0deg));
      opacity: 1;
    }
  }

  .checkboxLabel{
    font-weight: 400;
  }

}

input[type="submit"]{
  font-size: 22px;
  text-align: center;
  padding: 10px 30px;
  display: block;
  background-color: #a90329; // Old browsers
  @include filter-gradient(#a90329, #ff0101, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #a90329 0%,#ff481d 1%,#ff0101 100%));
  border: none;
  color: white;
  -webkit-box-shadow: 4px 1px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    4px 1px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         4px 1px 10px 0px rgba(50, 50, 50, 0.5);
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #ff0101; // Old browsers
  @include filter-gradient(#ff0101, #a90329, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #ff0101 0%,#ff481d 1%,#ff481d 100%));
}

input[type="submit"].follow{
  background-color: #05a922; // Old browsers
  @include filter-gradient(#05a922, #05ff1e, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #05a922 0%, #5cff72 1%,#05FF1E 100%));
}


/*errors*/

#error_explanation{

  color: #a90329;

  h3{
    font-size: 20px;
    font-weight: 400;
  }
  ul{
    padding-left: 10px;
    margin:10px 0 50px;
  }
}