body {
  background-color: $background_color;
}
*{
  outline: none;
}

a {
  text-decoration: none;
  color: $black;
}

h1, h2, h3, h4, p , label, input, a{
  font-family: $open_sans;
  font-weight: 300;
}

#logo {
  background-color: $black;
  text-align: center;
  color: white;
  width: 86px;
  padding: 23px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.blue{
  color: $blue;
}
.noDisplay{
  display: none;
}

.alert{
  width: 960px;
  z-index: 1000;
  position: relative;
  margin: 0 auto;
  background: $background_color;
  border: 3px solid #a90329;
  opacity: 0.7;
  color: #a90329;
  padding: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.alert-danger{
  border: 3px solid #a90329;
  color: #a90329;
}

.alert.alert-success{
  border: 3px solid #09a927;
  color: #09a927;
}

.icon{
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

.icon.wave{

  background-image: image-url("interface/waves.png");
}
.icon.wavers{
  width: 40px;
  background-image: image-url("interface/wavers.png");
}

.icon.wave.blue{

  background-image: image-url("interface/waves_blue.png");
}
.icon.wavers.blue{
  width: 40px;
  background-image: image-url("interface/wavers_blue.png");
}

.icon.wave.black{

  background-image: image-url("interface/waves_black.png");
}
.icon.wavers.black{
  width: 40px;
  background-image: image-url("interface/wavers_black.png");
}

.pagination{
  text-align: center;
  font-family: "Open Sans", sans-serif;

  a:hover{
    color: $blue;
    font-weight: 400;
    @include transition(all 0.3s ease-out);
  }
}