header{
  width: 960px;
  background-color: $background_color;
  margin: 0 auto;
  position: relative;
  padding: 30px 50px;
  @include box-sizing(border-box);
  z-index: 100;
  nav {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    @include experimental-value(width, calc(100% - 86px));
    ul {
      display: inline-block;
      li {
        display: inline-block;
        a{
          display: block;
          padding: 10px;
          margin: 0 5px;
          @include transition(all 0.3s ease-out);
        }
        a:hover{
          text-decoration: underline;
        }
        .blue{
          font-weight: 400;
        }
      }
    }
  }
  h2{
    vertical-align: middle;
    display: inline-block;
  }
  #logo{
    @include transition(all 0.3s ease-out);
  }
  #logo:hover{
    border-radius: 20px;
    @include transform(rotate(-5deg));
  }
}