.login{
  background-color: $background_color ;
  width: 360px;
  position: absolute;
  left: 50%;
  top: 50vh;
  margin-left: -230px;
  margin-top: -283px ;
  padding: 20px 50px;

  #logo{
    margin: 0 auto 20px;
  }

  .signup{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  #session_password{
    margin-bottom: 30px;
  }

  .checkboxWrapper{
    margin-bottom: 50px;
  }

  input[type="submit"]{
    margin-bottom: 50px;
  }

}