.register{
  background-color: $background_color ;
  width: 840px;
  position: absolute;
  left: 50%;
  top: 50vh;
  margin-left: -420px;
  margin-top: -363px ;
  padding: 50px;
  position: relative;
  margin-bottom: 50px;
  
  .loginLink{
    float: right;
    font-weight: 400;
  }

  h2{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
  }

  .inputed{
    width: 580px;
    label{
      width: 360px;
      text-align: left;
      padding-left: 50px;
    }
    input{
      margin-bottom: 45px;

    }
  }

  input[type='submit']{
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  
  
}