.allRitls {
  padding: 50px 0;
  .noRitls {
    width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  .tweets{
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;

    .ritl{
      margin-bottom: 50px;
      background-color: #fff;
      padding: 20px;
      position: relative;
      >a, >div{
        display: inline-block;
        vertical-align: middle;
      }

      >a{
        background-color: #ff8008;
        @include border-radius(5px);
        padding: 5px;
        width: 100px;
        margin-right: 30px;
        img{
          width: 100%;
        }
      }

      >div{
        width: 775px;
        .user{
          a{
            color: $blue;
            font-weight: 400;
          }
        }

        .content{
          text-align: center;
          font-weight: 400;
          margin: 20px 0;

          img{
            width: 60%;
            margin: 0 auto;
          }
        }
        .timestamp{
          text-align: right;
          font-size: 12px;
        }

        .delete{
          position: absolute;
          color: #a90329;
          top: 10px;
          right: 10px;
          font-size: 20px;
          @include transition(all 0.1s ease-out);
        }
        .delete:hover{
          @include transform(rotate(90deg));
        }
      }
    }
  }

}