.topSection {
  background-size: cover;
  background-attachment: fixed;

  > div {
    width: 960px;
    margin: 0 auto;
    position: relative;


    .blur {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-filter: blur(10px);
      filter: blur(10px);
      background-size: cover;
      background-attachment: fixed;
      z-index: 0;
      overflow: hidden;
    }

    .stats {
      background-color: rgba($black, 0.5);
      position: relative;
      text-align: center;
      padding: 90px 0;

      > a, > figure {
        display: inline-block;
        color: #ffffff;
        vertical-align: top;
      }
      >a{
        margin-top: 107px;
      }
      > figure {
          margin: 0 150px;
        .rounder-border{
          padding: 0;
          margin: 0;
          width: 230px;
          height: 230px;
          background-repeat: no-repeat;
          margin: 0 auto;
          background-color: rgba(255,127,8,1);
           @include filter-gradient(#ff7f08, #ff7f08, horizontal);
           @include background-image(linear-gradient(left top, rgba(255,127,8,1) 0%, rgba(255,202,55,1) 51%, rgba(255,127,8,1) 100%));
          border-radius: 50%;
        }
        img {
          width: 210px;
          padding: 10px;
          border-radius: 50%;


        }

        figcaption{
          margin-top: 25px;
          max-width: 230px;
          h1{
            font-size: 30px;
          }
          p{
            padding-top: 10px;
          }

          input[type="submit"]{
            display: inline-block;
            margin: 20px 0 0;
            font-size: 15px;
          }

        }
      }
    }
  }
}
