.newRitl {
  .rounder-border {
    padding: 0;
    margin: 0;
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: rgba(255, 127, 8, 1);
    @include filter-gradient(#ff7f08, #ff7f08, horizontal);
    @include background-image(linear-gradient(left top, rgba(255, 127, 8, 1) 0%, rgba(255, 202, 55, 1) 51%, rgba(255, 127, 8, 1) 100%));
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    img {
      width: 210px;
      padding: 10px;
      border-radius: 50%;

    }
  }

  .new_tweet{
    display: inline-block;
    vertical-align: middle;
    width: 650px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 50px;

    textarea{
      width: 400px;
      height: 150px;
      border: 2px solid $black;
      resize: none;
      background-color: $background_color;
      padding: 20px;

    }

    textarea::-webkit-input-placeholder { font-size: 16px; }
    textarea::-moz-placeholder { font-size: 16px; } /* firefox 19+ */
    textarea:-ms-input-placeholder { font-size: 16px; } /* ie */
    textarea:-moz-placeholder { font-size: 16px; }
    .picture{
      margin: 30px 0;
      color: #FFF;
    }
  }
}