.register.update{
  position: relative;
  left: auto;
  top: auto;
  margin: 0 auto;


  h1{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;

  }
}

.full{
  background-size: cover;
  padding: 50px 0;
}