h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 60px;

}

.users {
  > ul {
    width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    > li {
      width: 30%;
      margin: 0 1%;
      display: inline-block;
      vertical-align: top;
      background-color: #fff;
      @include border-radius(5px);
      overflow: hidden;
      margin-bottom: 30px;
      position: relative;
      .delete{
        position: absolute;
        color: #a90329;
        top: 10px;
        right: 10px;
        font-size: 20px;
        background-color: rgba(#FFFFFF, 0.5);
        padding: 0 2px;
        i{
          @include transition(all 0.1s ease-out);
        }
      }
      .delete:hover{
        i {
          @include transform(rotate(90deg));
        }
      }
      .userBg {
        width: 100%;
        height: 170px;
        background-size: cover;
      }

      figure {
        .border {
          width: 33%;
          @include border-radius(5px);
          margin: 0 auto;
          padding: 7px;
          background-color: #1d976c;
          margin-top: -55px;
          -webkit-box-shadow: 4px 1px 10px 0px rgba(50, 50, 50, 0.5);
          -moz-box-shadow:    4px 1px 10px 0px rgba(50, 50, 50, 0.5);
          box-shadow:         4px 1px 10px 0px rgba(50, 50, 50, 0.5);
          img {
            width: 100%;
          }
        }
        figcaption {
          text-align: center;
          .username{
            font-size: 18px;
            font-weight: 400;
            margin: 10px;
          }
          .description{
            padding:  20px 0;
            height: 50px;
            display: table;
            width: 100%;
            span{
              display: table-cell;
              vertical-align: middle;
              padding: 0 20px;
              font-size: 14px;
            }
          }
        }




      }
      .followstat{
        text-align: center;
        margin: 20px 0 40px;
        >a{
          display: inline-block;
          vertical-align: bottom;
          padding: 0 20px;
        }
        >a:hover{
          color: $blue;

          .icon.wave.black{

            background-image: image-url("interface/waves_blue.png");
          }
          .icon.wavers.black{
            background-image: image-url("interface/wavers_blue.png");
          }
        }
      }
      .btn{
        font-size: 14px;
        padding: 10px 15px;
        margin: 0 auto 25px;
      }
    }
  }
}