$background_color: #eeeeee;
$black: #292929;
$blue: #145c80;
$open_sans: "Open Sans", sans-serif;
$button-start: #ffc837;
$button-stop: #ff8008;


/* MIXINS */



@mixin mainBackground($main_background) {
  background-image: url('../../assets/images/home_background.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@mixin smallBackground($small_background) {
  background-image: url("../../assets/images/home_background2.jpg");
  width: 680px;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -340px;
  top: 50vh;
  margin-top: -208px;
  position: absolute;
}


@mixin form($champ) {
  width: 100%;
  height: 3em;
  background-color: $background_color;
  border-color: $black;
  border-width: 1px;

}

@mixin mail($label) {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  width: 6em;
  position: absolute;
  background-color: $background_color;
  left: 30px;
}

@mixin button($button_log) {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 1.5em;
  color: white;
  border: 1px solid transparent;
  @include background(linear-gradient(top, $button-start 40%, $button-stop));
  &:hover {
    @include background(linear-gradient(top, $button-start 60%, $button-stop));
    @include box-shadow(inset 0 1px 1px rgba(#fff, 0.95));
  }
  &:active {
    @include background(linear-gradient(bottom, $button-start 20%, $button-start));
  }
}
